section {
    width: 1366px;
    margin: 0 auto;
    background: no-repeat url(background1.png);
    position: relative;
}

.icon {
    margin-top: 46px;
    margin-left: 176px;
    display: inline-block;
    margin-bottom: 18px;
}

h3 {
    position: absolute;
    top: 50px;
    left: 236px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: white;  
}

span {
    display:block;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.mail {
    position: absolute;
    right: 178px;
    top: 46px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: white;
}

.tel {
    position: absolute;
    right: 178px;
    top: 86px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: white;
}

.tours {
    display: flex;
    flex-wrap: wrap;
    column-gap: 62px;
    align-items: center;
    justify-content: center;
}

.tours a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: white;
    margin-top: 20px;
    margin-bottom: 36px;
    margin-left: 80px;
    width: 150px;
}

footer p {
    text-align: center;
    padding-bottom: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: white;
}

a:hover {
    color: #F26522;
}

.image-wrapper {
    position: relative;
}

.image-wrapper:hover .price-wrapper {
    display: block;
}

.price {
    display: block;
    width: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: white;
    padding-left: 16px;
}

.details {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    float: right;
    color:  white;
    padding-right: 26px;
    width: 78px;
}

.price span {
    width: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-top: 8px;
}

.price-wrapper {
    display: none;
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 55px;
    background: #F26522;
}

.image {
    width: 300px;
    height: 220px;
}
